# Actian Interview Showcase:
# Andy's Data Analytics Coffee Pipeline SQL Export ;-)
## Data Set from Kaggle:
#### https://www.kaggle.com/datasets/fatihb/coffee-quality-data-cqi?resource=download

###

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
from sqlalchemy import create_engine

# A. Data Collection

### Load the coffee data set from kaggle / github:

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/fatih-boyar/coffee-quality-data-CQI/main/df_arabica_clean.csv')

### Check the coffee data for it's content:

In [6]:
df.head()

,Unnamed: 0,ID,Country of Origin,Farm Name,Lot Number,Mill,ICO Number,Company,Altitude,Region,...,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Color,Category Two Defects,Expiration,Certification Body,Certification Address,Certification Contact
0,0,0,Colombia,Finca El Paraiso,CQU2022015,Finca El Paraiso,NaN,Coffee Quality Union,1700-1930,"Piendamo,Cauca",...,89.33,11.8,0,0,green,3,"September 21st, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
1,1,1,Taiwan,Royal Bean Geisha Estate,"The 2022 Pacific Rim Coffee Summit,T037",Royal Bean Geisha Estate,NaN,Taiwan Coffee Laboratory,1200,Chiayi,...,87.58,10.5,0,0,blue-green,0,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"
2,2,2,Laos,OKLAO coffee farms,"The 2022 Pacific Rim Coffee Summit,LA01",oklao coffee processing plant,NaN,Taiwan Coffee Laboratory,1300,Laos Borofen Plateau,...,87.42,10.4,0,0,yellowish,2,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"
3,3,3,Costa Rica,La Cumbre,CQU2022017,La Montana Tarrazu MIll,NaN,Coffee Quality Union,1900,"Los Santos,Tarrazu",...,87.17,11.8,0,0,green,0,"September 21st, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
4,4,4,Colombia,Finca Santuario,CQU2023002,Finca Santuario,NaN,Coffee Quality Union,1850-2100,"Popayan,Cauca",...,87.08,11.6,0,2,yellow-green,2,"March 5th, 2024",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901

### get columns:

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             207 non-null    int64
 1   ID                     207 non-null    int64
 2   Country of Origin      207 non-null    object
 3   Farm Name              205 non-null    object
 4   Lot Number             206 non-null    object
 5   Mill                   204 non-null    object
 6   ICO Number             75 non-null     object
 7   Company                207 non-null    object
 8   Altitude               206 non-null    object
 9   Region                 205 non-null    object
 10  Producer               206 non-null    object
 11  Number of Bags         207 non-null    int64
 12  Bag Weight             207 non-null    object
 13  In-Country Partner     207 non-null    object
 14  Harvest Year           207 non-null    object
 15  Grading Date           207 non-null    object
 16  Owner                  207 non-null    object
 17  Variety                201 non-null    object
 18  Status                 207 non-null    object
 19  Processing Method      202 non-null    object
 20  Aroma                  207 non-null    float64
 21  Flavor                 207 non-null    float64
 22  Aftertaste             207 non-null    float64
 23  Acidity                207 non-null    float64
 24  Body                   207 non-null    float64
 25  Balance                207 non-null    float64
 26  Uniformity             207 non-null    float64
 27  Clean Cup              207 non-null    float64
 28  Sweetness              207 non-null    float64
 29  Overall                207 non-null    float64
 30  Defects                207 non-null    float64
 31  Total Cup Points       207 non-null    float64
 32  Moisture Percentage    207 non-null    float64
 33  Category One Defects   207 non-null    int64
 34  Quakers                207 non-null    int64
 35  Color                  207 non-null    object
 36  Category Two Defects   207 non-null    int64
 37  Expiration             207 non-null    object
 38  Certification Body     207 non-null    object
 39  Certification Address  207 non-null    object
 40  Certification Contact  207 non-null    object
dtypes: float64(13), int64(6), object(22)
memory usage: 66.4+ KB

### get numeric values:

In [8]:
df.describe()

,Unnamed: 0,ID,Number of Bags,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Overall,Defects,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Category Two Defects
count,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.00000,207.000000,207.000000,207.000000,207.0,207.0,207.000000,207.0,207.000000,207.000000,207.000000,207.000000,207.000000
mean,103.000000,103.000000,155.449275,7.721063,7.744734,7.599758,7.69029,7.640918,7.644058,9.990338,10.0,10.0,7.676812,0.0,83.706570,10.735266,0.135266,0.690821,2.251208
std,59.899917,59.899917,244.484868,0.287626,0.279613,0.275911,0.25951,0.233499,0.256299,0.103306,0.0,0.0,0.306359,0.0,1.730417,1.247468,0.592070,1.686918,2.950183
min,0.000000,0.000000,1.000000,6.500000,6.750000,6.670000,6.83000,6.830000,6.670000,8.670000,10.0,10.0,6.670000,0.0,78.000000,0.000000,0.000000,0.000000,0.000000
25%,51.500000,51.500000,1.000000,7.580000,7.580000,7.420000,7.50000,7.500000,7.500000,10.000000,10.0,10.0,7.500000,0.0,82.580000,10.100000,0.000000,0.000000,0.000000
50%,103.000000,103.000000,14.000000,7.670000,7.750000,7.580000,7.67000,7.670000,7.670000,10.000000,10.0,10.0,7.670000,0.0,83.750000,10.800000,0.000000,0.000000,1.000000
75%,154.500000,154.500000,275.000000,7.920000,7.920000,7.750000,7.87500,7.750000,7.790000,10.000000,10.0,10.0,7.920000,0.0,84.830000,11.500000,0.000000,1.000000,3.000000
max,206.000000,206.000000,2240.000000,8.580000,8.500000,8.420000,8.58000,8.250000,8.420000,10.000000,10.0,10.0,8.580000,0.0,89.330000,13.500000,5.000000,12.000000,16.000000

### Get the numerical columns using describe() and columns

In [9]:
numerical_columns = df.describe().columns

In [10]:
numerical_columns

Index(['Unnamed: 0', 'ID', 'Number of Bags', 'Aroma', 'Flavor', 'Aftertaste',
       'Acidity', 'Body', 'Balance', 'Uniformity', 'Clean Cup', 'Sweetness',
       'Overall', 'Defects', 'Total Cup Points', 'Moisture Percentage',
       'Category One Defects', 'Quakers', 'Category Two Defects'],
      dtype='object')


### Get the text columns by inverting the numerical columns

In [11]:
text_columns = df.select_dtypes(exclude=[float, int]).columns

In [12]:
text_columns

Index(['Country of Origin', 'Farm Name', 'Lot Number', 'Mill', 'ICO Number',
       'Company', 'Altitude', 'Region', 'Producer', 'Bag Weight',
       'In-Country Partner', 'Harvest Year', 'Grading Date', 'Owner',
       'Variety', 'Status', 'Processing Method', 'Color', 'Expiration',
       'Certification Body', 'Certification Address', 'Certification Contact'],
      dtype='object')


# 
# B. Data-Export to file and SQL-database
#

### Question: How could a meaningful split of the content for a SQL-DB structure look like to fullfill SQL relation integrity?
### Task: Split the data and create sub-dataframes for the SQL-tables

## 1. Prepare the data for creation of SQL-tables and Create sub-dataframes

In [13]:
df_coffee = df[['Unnamed: 0', 'ID', 'Country of Origin', 'Variety', 'Processing Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'Uniformity', 'Clean Cup', 'Sweetness', 'Overall', 'Defects', 'Total Cup Points', 'Moisture Percentage', 'Category One Defects', 'Quakers', 'Color', 'Category Two Defects']].copy()

### Check the content of the sub-df:

In [14]:
df.columns

Index(['Unnamed: 0', 'ID', 'Country of Origin', 'Farm Name', 'Lot Number',
       'Mill', 'ICO Number', 'Company', 'Altitude', 'Region', 'Producer',
       'Number of Bags', 'Bag Weight', 'In-Country Partner', 'Harvest Year',
       'Grading Date', 'Owner', 'Variety', 'Status', 'Processing Method',
       'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance',
       'Uniformity', 'Clean Cup', 'Sweetness', 'Overall', 'Defects',
       'Total Cup Points', 'Moisture Percentage', 'Category One Defects',
       'Quakers', 'Color', 'Category Two Defects', 'Expiration',
       'Certification Body', 'Certification Address', 'Certification Contact'],
      dtype='object')

In [15]:
df_coffee.columns

Index(['Unnamed: 0', 'ID', 'Country of Origin', 'Variety', 'Processing Method',
       'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance',
       'Uniformity', 'Clean Cup', 'Sweetness', 'Overall', 'Defects',
       'Total Cup Points', 'Moisture Percentage', 'Category One Defects',
       'Quakers', 'Color', 'Category Two Defects'],
      dtype='object')

In [16]:
df_coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            207 non-null    int64
 1   ID                    207 non-null    int64
 2   Country of Origin     207 non-null    object
 3   Variety               201 non-null    object
 4   Processing Method     202 non-null    object
 5   Aroma                 207 non-null    float64
 6   Flavor                207 non-null    float64
 7   Aftertaste            207 non-null    float64
 8   Acidity               207 non-null    float64
 9   Body                  207 non-null    float64
 10  Balance               207 non-null    float64
 11  Uniformity            207 non-null    float64
 12  Clean Cup             207 non-null    float64
 13  Sweetness             207 non-null    float64
 14  Overall               207 non-null    float64
 15  Defects               207 non-null    float64
 16  Total Cup Points      207 non-null    float64
 17  Moisture Percentage   207 non-null    float64
 18  Category One Defects  207 non-null    int64
 19  Quakers               207 non-null    int64
 20  Color                 207 non-null    object
 21  Category Two Defects  207 non-null    int64
dtypes: float64(13), int64(5), object(4)
memory usage: 35.7+ KB

In [17]:
df_owner = df[['Unnamed: 0', 'Owner']].copy()

In [18]:
df_owner.head

<bound method NDFrame.head of      Unnamed: 0                                 Owner
0             0                  Coffee Quality Union
1             1      Taiwan Coffee Laboratory 台灣咖啡研究室
2             2      Taiwan Coffee Laboratory 台灣咖啡研究室
3             3                  Coffee Quality Union
4             4                  Coffee Quality Union
..          ...                                   ...
202         202                       Ipanema Coffees
203         203            Exportadora Atlantic, S.A.
204         204                          Ikuto Uehara
205         205                      Roselia Yglesias
206         206  Descafeinadores Mexicanos S.A de C.V

[207 rows x 2 columns]>

In [19]:
df_farm = df[['Unnamed: 0', 'Farm Name', 'Lot Number', 'Mill', 'ICO Number', 'Altitude', 'Region', 'Producer', 'Number of Bags', 'Bag Weight', 'In-Country Partner', 'Harvest Year', 'Grading Date']].copy()

In [25]:
df_farm.head(1)

,Unnamed: 0,Farm Name,Lot Number,Mill,ICO Number,Altitude,Region,Producer,Number of Bags,Bag Weight,In-Country Partner,Harvest Year,Grading Date
0,0,Finca El Paraiso,CQU2022015,Finca El Paraiso,NaN,1700-1930,"Piendamo,Cauca",Diego Samuel Bermudez,1,35 kg,Japan Coffee Exchange,2021 / 2022,"September 21st, 2022"

In [21]:
df_certification = df[['Unnamed: 0', 'Certification Body', 'Certification Address', 'Certification Contact']].copy()

In [22]:
df_certification.head(1)

,Unnamed: 0,Certification Body,Certification Address,Certification Contact
0,0,Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901

In [23]:
df_country = df[['Unnamed: 0', 'Country of Origin']].copy()

In [26]:
df_country.head()

   Unnamed: 0 Country of Origin
0           0          Colombia
1           1            Taiwan
2           2              Laos
3           3        Costa Rica
4           4          Colombia

## 2. Add PrimaryKey for SQL-DB compatiblity:

### Renaming the 'Unnamed: 0' column to match the ID columns of SQL tables

In [27]:
df_coffee.rename(columns={'Unnamed: 0': 'CoffeeID'}, inplace=True)

In [28]:
df_coffee.head(1)

,CoffeeID,ID,Country of Origin,Variety,Processing Method,Aroma,Flavor,Aftertaste,Acidity,Body,...,Clean Cup,Sweetness,Overall,Defects,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Color,Category Two Defects
0,0,0,Colombia,Castillo,Double Anaerobic Washed,8.58,8.5,8.42,8.58,8.25,...,10.0,10.0,8.58,0.0,89.33,11.8,0,0,green,3

In [29]:
df_owner.rename(columns={'Unnamed: 0': 'OwnerID'}, inplace=True)
df_farm.rename(columns={'Unnamed: 0': 'FarmID'}, inplace=True)
df_certification.rename(columns={'Unnamed: 0': 'CertificationID'}, inplace=True)
df_country.rename(columns={'Unnamed: 0': 'CountryID'}, inplace=True)

In [30]:
df_owner.head(1)

   OwnerID                 Owner
0        0  Coffee Quality Union

In [31]:
df_farm.head(1)

,FarmID,Farm Name,Lot Number,Mill,ICO Number,Altitude,Region,Producer,Number of Bags,Bag Weight,In-Country Partner,Harvest Year,Grading Date
0,0,Finca El Paraiso,CQU2022015,Finca El Paraiso,NaN,1700-1930,"Piendamo,Cauca",Diego Samuel Bermudez,1,35 kg,Japan Coffee Exchange,2021 / 2022,"September 21st, 2022"

In [32]:
df_certification.head(1)

,CertificationID,Certification Body,Certification Address,Certification Contact
0,0,Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901

In [33]:
df_country.head(1)

   CountryID Country of Origin
0          0          Colombia

## 3. Export new sub-dataframes to new CSV files and SQL-DB

### A. Export each dataframe into its own CSV-file:

In [35]:
df_coffee.to_csv('coffee.csv', index=False)

In [36]:
ls -lsa coffee.csv

56 -rw-r--r--  1 thedude  staff  24661 Jun 13 11:34 coffee.csv

In [37]:
less coffee.csv

In [38]:
df_owner.to_csv('owner.csv', index=False)
df_farm.to_csv('farm.csv', index=False)
df_certification.to_csv('certification.csv', index=False)
df_country.to_csv('country.csv', index=False)

In [39]:
ls -lsa *.csv

72 -rw-r--r--  1 thedude  staff  35209 Jun 13 11:34 certification.csv
56 -rw-r--r--  1 thedude  staff  24661 Jun 13 11:34 coffee.csv
 8 -rw-r--r--  1 thedude  staff   2682 Jun 13 11:34 country.csv
80 -rw-r--r--  1 thedude  staff  38556 Jun 13 11:34 farm.csv
16 -rw-r--r--  1 thedude  staff   5508 Jun 13 11:34 owner.csv

### B. Export each dataframe to a table of the SQL-DB:

In [40]:
engine = create_engine('sqlite:////Users//thedude/dev/git/material-dashboard-pro-django-main/db.sqlite3')

In [41]:
df_coffee.to_sql('Coffee', engine, if_exists='replace', index=False)

207

#### Test if the SQL-DB has been successfully written:

In [42]:
df_sql_coffee = pd.read_sql_table('Coffee', engine)

In [44]:
df_sql_coffee.head()

,CoffeeID,ID,Country of Origin,Variety,Processing Method,Aroma,Flavor,Aftertaste,Acidity,Body,...,Clean Cup,Sweetness,Overall,Defects,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Color,Category Two Defects
0,0,0,Colombia,Castillo,Double Anaerobic Washed,8.58,8.50,8.42,8.58,8.25,...,10.0,10.0,8.58,0.0,89.33,11.8,0,0,green,3
1,1,1,Taiwan,Gesha,Washed / Wet,8.50,8.50,7.92,8.00,7.92,...,10.0,10.0,8.50,0.0,87.58,10.5,0,0,blue-green,0
2,2,2,Laos,Java,Semi Washed,8.33,8.42,8.08,8.17,7.92,...,10.0,10.0,8.33,0.0,87.42,10.4,0,0,yellowish,2
3,3,3,Costa Rica,Gesha,Washed / Wet,8.08,8.17,8.17,8.25,8.17,...,10.0,10.0,8.25,0.0,87.17,11.8,0,0,green,0
4,4,4,Colombia,Red Bourbon,"Honey,Mossto",8.33,8.33,8.08,8.25,7.92,...,10.0,10.0,8.25,0.0,87.08,11.6,0,2,yellow-green,2

In [45]:
df_owner.to_sql('Owner', engine, if_exists='replace', index=False)
df_farm.to_sql('Farm', engine, if_exists='replace', index=False)
df_certification.to_sql('Certification', engine, if_exists='replace', index=False)
df_country.to_sql('Country', engine, if_exists='replace', index=False)

207

In [46]:
df_sql_owner = pd.read_sql_table('Owner', engine)
df_sql_farm = pd.read_sql_table('Farm', engine)
df_sql_certification = pd.read_sql_table('Certification', engine)
df_sql_country = pd.read_sql_table('Country', engine)

In [47]:
print("DF_SQL_COFFE = {}\n".format(df_sql_coffee.head(1)))
print("DF_SQL_OWNER = {}\n".format(df_sql_owner.head(1)))
print("DF_SQL_FARM = {}\n".format(df_sql_farm.head(1)))
print("DF_SQL_Cert = {}\n".format(df_sql_certification.head(1)))
print("DF_SQL_Country = {}\n".format(df_sql_country.head(1)))

DF_SQL_COFFE =    CoffeeID  ID Country of Origin   Variety        Processing Method  Aroma  \
0         0   0          Colombia  Castillo  Double Anaerobic Washed   8.58

   Flavor  Aftertaste  Acidity  Body  ...  Clean Cup  Sweetness  Overall  \
0     8.5        8.42     8.58  8.25  ...       10.0       10.0     8.58

   Defects  Total Cup Points  Moisture Percentage  Category One Defects  \
0      0.0             89.33                 11.8                     0

   Quakers  Color  Category Two Defects
0        0  green                     3

[1 rows x 22 columns]

DF_SQL_OWNER =    OwnerID                 Owner
0        0  Coffee Quality Union

DF_SQL_FARM =    FarmID         Farm Name  Lot Number              Mill ICO Number  \
0       0  Finca El Paraiso  CQU2022015  Finca El Paraiso       None

    Altitude          Region               Producer  Number of Bags  \
0  1700-1930  Piendamo,Cauca  Diego Samuel Bermudez               1

  Bag Weight     In-Country Partner Harvest Year          Grading Date
0      35 kg  Japan Coffee Exchange  2021 / 2022  September 21st, 2022

DF_SQL_Cert =    CertificationID     Certification Body  \
0                0  Japan Coffee Exchange

                               Certification Address  \
0  〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...

                     Certification Contact
0  松澤　宏樹　Koju Matsuzawa - +81(0)9085642901

DF_SQL_Country =    CountryID Country of Origin
0          0          Colombia

# Great Job, Andy! ;-)